body {
	font-family: 'Times New Roman', Arial, sans-serif;
}

nav {
	margin-bottom: 50px;
}

nav .brand-logo.center {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

.bids {
	border: 1px solid #999;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 15px;
	border-radius: 10px;
}

.bids .bid {
	border-bottom: 1px solid #999;
	padding: 20px;
}

.bids .bid:last-child {
	border: none;
}

.bids .bid .description {

}

.bids .bid .price {
	background-color: #F1BB79;
	color: #fff;
	padding: 2px 5px;
	margin: 0 5px;
	border-radius: 5px;
	font-size: 13px;
}

.bids .bid .termin {
	background-color: #3D77FB;
	color: #fff;
	padding: 2px 5px;
	margin: 0 5px;
	border-radius: 5px;
	font-size: 13px;
}

.avatar {
	width: 100px;
    border-radius: 20px;
    float: left;
    margin: 5px 10px 5px 0;
}

.private_bid {
	text-align: center;
}

.bid_avatar {
	width: 50px;
}

.freelancer_avartar {
	width: 100%;
	margin: 0;
}

.freelancer a h3, .customers a h3 {
	margin: 0 10px;
	text-align: center;
}

.add_work {
	margin-top: -45px;
}

.form-bid {
	padding: 20px;
	border-bottom: 1px solid #999;
}

.project .price {
	background-color: #F1BB79;
    color: #fff;
    padding: 5px 10px;
    margin: -42px 5px 0;
    border-radius: 5px;
    font-size: 16px;
}

button.ispolnitel {
	margin-top: -40px;
}

button.canceled {
	margin: -40px 100px 0 0;
}

button.completed, a.completed {
	margin: -40px 0 0 5px;
}

.prj {
    border: 1px solid #6d3517;
    padding: 10px 25px;
    background: #fff;
    clear: both;
}

.prj p {
	margin: 0;
}

.prj.top {
    background: #FFC545;
}

.prj > .price {
    font-size: 25px;
    color: #6d3517;
    font-weight: bold;
    margin: 0;
}

.prj > .title {
    font-size: 25px;
}

.prj .meta {
    clear: both;
    height: 25px;
    color: #6d3517;
    min-height: 90px;
}

.prj .user {
	clear: both;
}

.prj .user .project_avatar {
	width: 50px;
}

.prj .user .name {
	top: 5px;
	position: relative;
}

.prj .user .rating {
    background: #f3b421;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    margin: 5px 0;
    border-radius: 7PX;
}

.prj_create_proect {
	margin-top: -60px
}

.cats {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 993px) {
	nav .brand-logo.center {
	    -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
	}
}